[submodule "org.mutagen.evraz.telegram_bot"]
	path = org.mutagen.evraz.telegram_bot
	url = git@github.com:meditrace-org/org.mutagen.evraz.telegram_bot.git
[submodule "org.mutagen.evraz.backend"]
	path = org.mutagen.evraz.backend
	url = https://github.com/meditrace-org/org.mutagen.evraz.backend.git
